<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student View</title>
    <style>
        table, thead, tbody,tr,td {
            border:1px solid black;
        }
    </style>
</head>
<body>
    <h1>View of The Database</h1>
    <table>
        <thead>
            <th>STU_ID</th>
            <th>STU_NAME</th>
            <th>STU_EMAIL</th>
            <th>STU_PASS</th>
        </thead>
        <tbody>
            {% for student in fullview %}
                <tr>
                    <td>{{student.id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.password}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   <a href="{% url 'form' %}">Form Page</a>
</body>
</html>